/* Archive */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

.nav-goback {
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
    font-size: 20px !important;
}

.archive-container th {
    font-weight: 300 !important;
}

.archive-container th,
.archive-container td {
    color: #232340 !important;
}

.archive-container {
    margin: 5% auto !important;
    margin-top: 0 !important;
    padding: 0 !important;
}

.archive-container h1 {
    position: relative;
    left: 10%;
    margin-bottom: 10%;
}

td > a {
    color: #232340;
    margin-right: 5px;
}

td > a:hover {
    color: #5468e7;
}

.built {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 14px;
}

@media (max-width: 992px) {
    .archive-container {
        margin: 10% auto !important;
    }
    td > a {
        margin: 0 !important;
        margin-left: -2px !important;
        margin-right: 2px !important;
    }
}