/* MAIN */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.header-container {
    display: flex;
    align-items: center;
    overflow: hidden !important;
    font-family: 'Ubuntu', sans-serif;
    color: #232340 !important;
    height: 80vh;
    padding: 0;
    margin: 0;
    margin: 5% auto !important;
    margin-top: 0 !important;
}

.header-left {
    color: #232340 !important;
}

.header-left h1 {
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 56px;
}

.header-left p {
    font-family: 'Nanum Gothic', sans-serif !important;
    text-transform: lowercase !important;
    font-size: 18px;
    width: 80%;
}

.header-left .btn {
    background-color: #5468e7;
    color: #fafafa !important;
    font-size: 300 !important;
}

.header-left .btn:hover {
    background-color: #c898e4;
    box-shadow: 0px 4px 8px -3px #c898e4;
}

.header-right {
    margin-top: -5% !important;
    z-index: -9999;
}

.header-right .my-pic {
    position: relative;
    overflow: hidden;
    width: 600px;
    z-index: 99;
    top: 250px;
    right: 40%;
}

.header-right .my-line {
    position: absolute;
    width: 120%;
    top: 100px;
    right: 0px;
    z-index: 0;
}

.my-line path {
    fill: transparent;
    stroke-dasharray: 850.209716796875;
    stroke-dashoffset: 850.209716796875;
    -webkit-animation: drawLine 2s ease-in-out forwards;
    animation: drawLine 2s ease-in-out forwards;
}

@-webkit-keyframes drawLine {
    100% {
    stroke-dashoffset: 0;
    }
}

@keyframes drawLine {
    100% {
    stroke-dashoffset: 0;
    }
}

@-webkit-keyframes fillIt {
    100% {
    fill: #ffce79;
    stroke: transparent;
    }
}

@keyframes fillIt {
    100% {
    fill: #ffce79;
    stroke: transparent;
    }
}

.work-btn {
    cursor: pointer;
    z-index: 9999999;
    box-shadow: 0px 4px 8px -3px #5468e7;
}

@media (max-width: 992px) {
    .header-container {
        overflow: visible !important;
    }
    .header-left {
        margin-top: 20%;
    }
    .header-left h1 {
        font-size: 48px;
    }  
    .header-right .my-pic {
        width: 90%;
        right: -300px !important;
        top: -150px;
    }
    .header-right .my-line {
        position: absolute;
        top: -250px;
        right: -100px;
        width: 70%;
    }  
}

@media (max-width: 768px) {
    .header-container {
        height: 70vh;
        margin: 15% auto !important;
    }
    .header-right .my-pic {
        width: 120%;
        top: -50px;
        left: 50px;
    }
    .header-right .my-line {
        width: 115%;
        top: -150px;
        right: -150px;
    }
}