/* MAIN */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.header-container {
    display: flex;
    align-items: center;
    overflow: hidden !important;
    font-family: 'Ubuntu', sans-serif;
    color: #232340 !important;
    height: 100vh;
    padding: 0;
    margin: 0;
    margin: 5% auto !important;
    margin-top: 0 !important;
}

.header-left {
    color: #232340 !important;
}

.header-left h1 {
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 56px;
}

.header-left p {
    font-family: 'Nanum Gothic', sans-serif !important;
    text-transform: lowercase !important;
    font-size: 18px;
    width: 80%;
}

.header-left .btn {
    background-color: #5468e7;
    color: #fafafa !important;
    font-size: 300 !important;
}

.header-left .btn:hover {
    background-color: #c898e4;
    box-shadow: 0px 4px 8px -3px #c898e4;
}

.header-right {
    margin-top: -5% !important;
    z-index: -9999;
}

.header-right .my-pic {
    position: relative;
    top: 180px;
    right: 40%;
}

.header-right .my-line {
    position: relative;
    top: -300px;
    right: 0;
    z-index: -1;
}

.work-btn {
    cursor: pointer;
    z-index: 9999999;
    box-shadow: 0px 4px 8px -3px #5468e7;
}

@media (max-width: 992px) {
    .header-left h1 {
        font-size: 48px;
    }  
    .header-right .my-pic {
        left: 20%;
        top: 0;
    }
    .header-right .my-line {
        position: absolute;
        top: 0;
        right: -100px;
    }  
}

@media (max-width: 768px) {
    .header-container {
        margin: 20% auto !important;
    }
    .header-right .my-pic {
        width: 115%;
        top: 20px;
        left: 0;
    }
    .header-right .my-line {
        width: 115%;
        top: 20px;
        right: -150px;
    }
}