/* LOADING */
.progress-bar {
    background: #fafafa;
    border: 5px solid #5468e7;
    width: 300px;
    height: 30px;
    border-radius: 50px;
    margin-top: 20px;
}

.progress {
    box-sizing: border-box;
    background-color: #b5dacd;
    animation: loading 5s linear 2s infinite;
    animation-name: loading;
    width: 20%;
    height: 150% !important;
    border-radius: 50px;
}

.page {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-style: normal;
  background: #fafafa ;
  color: #5468e7;
  margin: 0;
  height: 100vh;
  font-weight: 300;
  width: 100%;
  font-size: 36px;
}

@keyframes loading {
    0%   {width: 20%;}
    50%  {width: 50%;}
    100% {width: 100%;}
}