/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@font-face {font-family: "Mark Pro"; src: url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.eot"); src: url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7200c6dd8ac604abe09f5159e53a40c0.svg#Mark Pro") format("svg"); }
@font-face {font-family: "Mark Pro Medium"; src: url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot"); src: url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.woff") format("woff"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a05747eaf46bae50f19dfa950b86befd.svg#Mark Pro Medium") format("svg"); }
@font-face {font-family: "Mark Pro Heavy"; src: url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.eot"); src: url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.woff") format("woff"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/72112afab388987941068c3f7a741a53.svg#Mark Pro Heavy") format("svg"); }

* {
    font-family: Mark Pro !important;
    text-decoration: none !important;
}

html {
    scroll-behavior:smooth;
}

#root {
    width: 100vw !important;
}

a,
button {
    cursor: pointer !important;
    outline: none;
}

a:active, 
a:focus {
    -moz-outline-style: none !important; 
    border: none !important;
    outline-style: none !important;
    outline: 0 !important;
}

input,
select,
textarea,
button {
    -moz-outline: none !important; 
    -moz-outline-style: none !important; 
    outline: none !important;
    outline-width: 0 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    -moz-outline: none !important; 
    box-shadow: none!important;
    outline: none !important;
    outline-width: 0 !important;
    outline: 0 !important;
}

::selection {
    background-color: #b5dacd !important;
}