/* FONTS */
* {
    text-decoration: none !important;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior:smooth;
}

html, body {
    overflow-x: hidden !important;
}

#root {
    width: 100vw !important;
}

a,
button {
    cursor: pointer !important;
    outline: none;
}

a:active, 
a:focus {
    border: none !important;
    -moz-outline-style: none !important;
    outline-style: none !important;
    outline: 0 !important;
}

input,
select,
textarea,
button {
    -moz-outline: none !important; 
    -moz-outline-style: none !important; 
    outline: none !important;
    outline-width: 0 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    -moz-outline: none !important; 
    box-shadow: none!important;
    outline: none !important;
    outline-width: 0 !important;
    outline: 0 !important;
}

::selection {
    background-color: #FEE9AF !important;
}
